/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

.display-space {
    scale: .18;
}
#me {
    margin: -100px -100px 100px;
    border-style: solid;
    border-width: 30px;
    padding: -36px;
}
#car {
    
    border: 30px solid rgb(0, 0, 0);
    position: relative;
    top: -300px;
    left: -180px;
     
}
.display-space3 {
    width: 200px;
    height: 60px;
    border: 3px solid;
    background-color: aliceblue;
    position: relative;
    top: -100px;
    right: -350px;
}
#text {
    padding: 2px 50px;
    color: brown;
    font-weight: 300;

}