/* Drill 1 - Write your code solution below */
.d1-container {
    padding: 36px;
}

/* Drill 2 - Write your code solution below */
.d2-container {
    padding: 48px 24px;
    }

/* Drill 3 - Write your code solution below */
.d3-div {
    padding: 12px;
}
#d3-div-2 {
    padding: 12px 48px;
    }

/* Drill 4 - Write your code solution below */
.d4-div {
    padding: 12px 0px;
}
.d4-container {
    padding: 12px 24px;
}

/* Drill 5 - Write your code solution below */
.d5-container {
    text-align: center
}
#d5-s-1 {
    display: inline-block;
    padding: 24px;
 }

#d5-s-2 {
    display: inline-block;
    padding: 24px;
}

#d5-s-3 {
    display: inline-block;
    padding: 24px;
}
