body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}
.hero {
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(184, 52, 52);
    position: relative;
}
.hero-content h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.cta-button {
    font-family: 'Poppins', sans-serif;
    background-color: #c94141;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}
.gallery {
    padding: 40px 20px;
    background-color: #181703;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-items: center;
}
.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}
.cards {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #000000;
}
.card {
    background-color: #f7f7f7;
    padding: 20px;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}
.card .cta-button {
    background-color: #46b1b4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}